@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(bucket-ico-fonts.css);

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body {
   /* color:#767676;
    background: url('../images/shattered.png');
    font-family:'Open Sans',sans-serif;
    padding:0px !important;
    margin:0px !important;
    font-size:14px;
    text-rendering:optimizeLegibility;*/
}
/*
.form-login {
    max-width: 380px;
    height: 390px;
    margin: 50px auto auto auto;
    border-radius: 8px;
    padding: 10px 10px 20px 10px;

    border-right: 10px;
    background: rgba(0,0,0,.1);
}

.form-login form {
    margin: 25px 10px 10px 10px;
}

.title-login {
    margin-top: 15px;
}*/

#content{
	margin-top: 20px;
}

.table-questoes {
	margin-top: 10px;
	font-size: 12px;
}
.table-questoes-opcoes {
	width: 15%;
}
.excluir-alternativa {
	margin-top: 0px;
}
.form-questao {
	font-size: 12px;
}

.title-nav {
    margin-bottom: 1.75rem;
}

.lista-nav li a{
    color: #000;
    font-size: 14px;
}
#msgSistema {
    margin-top: 10px;
    margin-bottom: 0px;
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus,.cmxform .form-group input.error,.cmxform .form-group textarea.error {
    border-color:#B94A48 !important;
}

/*advanced table*/
.general-table .progress {
    margin-bottom:0;
}
.adv-table table tr td {
    padding:10px;
}
.adv-table table.display thead th {
    border-bottom:1px solid #DDDDDD;
    padding:10px;
}
tr.odd.gradeA td.sorting_1,tr.odd td.sorting_1,tr.even.gradeA td.sorting_1 {
    background:none;
}
td.details {
    background-color:#eee;
}
td.details table tr td,.dataTable tr:last-child {
    border:none;
}
.adv-table table.display tr.odd.gradeA {
    background-color:#F9F9F9;
}
.adv-table table.display tr.even.gradeA {
    background-color:#FFFFFF;
}
.adv-table .dataTables_filter label input {
    float:right;
    margin-left:10px;
    width:78%;
}
.adv-table .dataTables_filter label {
    line-height:33px;
    width:100%;
}
.adv-table .dataTables_length select {
    display:inline-block;
    margin:0 10px 0 0;
    padding:5px 8px;
    width:65px;
}
.adv-table .dataTables_info,.dataTables_paginate {
    padding:15px 0;
}
.adv-table .dataTables_length,.adv-table .dataTables_filter {
    padding:15px 0;
}
.cke_chrome {
    border:none !important;
}
.editable-table .dataTables_filter {
    width:80%;
}
tr.odd.gradeX td.sorting_1,tr.even.gradeX td.sorting_1,table.display tr.even.gradeX,table.display tr.gradeX,tr.even.gradeU td.sorting_1,tr.even td.sorting_1,table.display tr.even.gradeC,table.display tr.gradeC,tr.odd.gradeC td.sorting_1,table.display tr.even.gradeU,table.display tr.gradeU,tr.odd.gradeU td.sorting_1 {
    background: none !important;
}